label {
  display: block;

  input,
  textarea {
    display: block;
    width: 50%;
    margin-bottom: 20px;
    padding: 1em;
  }

  .error {
    margin-top: -20px;
    background: yellow;
    padding: 0.5em;
    display: inline-block;
    font-size: 0.9em;
    margin-bottom: 20px;
  }
}

.cta {
  background: #7700ff;
  border: none;
  color: white;

  text-transform: uppercase;
  border-radius: 4px;
  padding: 1em;
  cursor: pointer;
  font-family: "Montserrat";
}

.results {
  margin-top: 50px;

  strong {
    display: block;
  }
  span {
    margin-bottom: 20px;
    display: block;
  }
}

p {
  text-indent: 1.5em;
}

.principal {
  margin-left: 25%;
  position: relative;
  width: 55% !important;

  p,
  li {
    line-height: 30px;
    text-align: justify;
    color: #0a0a0a;
    font-size: 11pt;
    font-family: 'Open Sans', sans-serif;
  }

  h3 {
    margin-top: 8%;
    color: #080344;
  }

  h1{
    color: #080344;
  }

  .img-cod {
    margin: 2% 0 0 1%;

  }

  .center{
    margin-left: 35%;
  }

  .code {
    background: #d9d9d9;
    padding: 0.5%;
    border-radius: 5px;
    font-family: "Consolas", sans-serif;
    font-size: 12pt;
    color: grey;
  }

  .legenda{
    font-size: 10pt;
    text-align: center;
  }
}
